/.venv
/docs/dev_notes/*
.env
*.pyc

# Airflow
airflow/logs/*
airflow/logs/dag_processor/*
airflow/logs/
airflow/logs/dag_processor/latest

# GCP credentials
credentials/gcp/*


# Data Files
data/raw/*
airflow/logs/dag_processor/latest
